.card-wrapper img {
    max-width: 100%;
    height: auto;
    transition: 0.3s linear;


}

.article-image-wrapper{
    max-width: 100%;
    overflow: hidden;
}
.card-wrapper img:hover{
    transform: scale(1.5);
}