.subscribe button{
    padding: 10px 0;
    width: 100%;
    background-color: #D5B2A5;
    color: #787878;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
    box-shadow: inset 0 0 0 3px #404040;
    transition: .5s ease-in-out;
}

.subscribe button:hover{
    box-shadow: none;
    background-color: #696969;
    color: #c8edcb;

}
