.subscribe button{
    padding: 10px 0;
    width: 100%;
    background-color: #D5B2A5;
    color: #787878;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
    box-shadow: inset 0 0 0 3px #404040;
    transition: .5s ease-in-out;
}

.subscribe button:hover{
    box-shadow: none;
    background: -moz-linear-gradient(-45deg, rgba(120,120,120,1) 0%, rgba(153,153,153,1) 21%, rgba(166,158,166,1) 51%, rgba(153,153,153,1) 77%, rgba(120,120,120,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(120,120,120,1)), color-stop(21%, rgba(153,153,153,1)), color-stop(51%, rgba(166,158,166,1)), color-stop(77%, rgba(153,153,153,1)), color-stop(100%, rgba(120,120,120,1)));
    background: -webkit-linear-gradient(-45deg, rgba(120,120,120,1) 0%, rgba(153,153,153,1) 21%, rgba(166,158,166,1) 51%, rgba(153,153,153,1) 77%, rgba(120,120,120,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(120,120,120,1) 0%, rgba(153,153,153,1) 21%, rgba(166,158,166,1) 51%, rgba(153,153,153,1) 77%, rgba(120,120,120,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(120,120,120,1) 0%, rgba(153,153,153,1) 21%, rgba(166,158,166,1) 51%, rgba(153,153,153,1) 77%, rgba(120,120,120,1) 100%);
    background: linear-gradient(135deg, rgba(120,120,120,1) 0%, rgba(153,153,153,1) 21%, rgba(166,158,166,1) 51%, rgba(153,153,153,1) 77%, rgba(120,120,120,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#787878', GradientType=1 );    color: #c8edcb;

}
