
.card-wrapper {
    /*display: inline-flex;*/
    /*flex-direction: column;*/
    /*align-content: center;*/
    background-color: rgba(184, 218, 187, 0.5);
}

.card-wrapper h5 {
    text-align: center;
}

.card-wrapper p {
    text-align: center;
}

.article-footer {
    display: flex;
    flex-direction: row;
}

.card-time {
    display: inline-flex;
    justify-items: flex-end;
    align-items: flex-end;
    width: 29%;
    text-align: right;
}

.card-time p {
    font-size: 14px;
    color: #787878;
    padding-bottom: 5px;
}

.article-comment {
    width: 70%;
}

.article-comment i {
    color: #404040;
}

.article-comment p {
    display: inline-flex;
    color: #404040;
    font-size: 0.5em;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-wrapper {
    flex: 0 1 calc(33% - 0.5em);
    margin-bottom: 2em;
}

@media screen and (max-width: 900px) and (min-width: 700px) {
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-wrapper {
        flex: 0 1 calc(50% - 0.5em);
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 700px) {
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-wrapper {
        flex: 0 1 calc(100% - 0.5em);
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 700em) {
    .card-wrapper {
        max-width: calc(50% - 1em);
    }
}

@media screen and (min-width: 900em) {
    .card-wrapper {
        max-width: calc(25% - 1em);
    }
}