.nav ul{
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
}
.nav ul>li{
    display: inline-block;
    padding: 5px;
    transition: 0.2s ease-out;
}

.nav ul>li a{
    font-size: 18px;
}

.nav ul>li:hover{
    box-shadow: inset 0 -5px 0px -3px  #404040;
}

@media all and (max-width: 800px) {
    .nav{
        display: none;
    }
    .nav-container{
        display: none;
    }
}

@media all and (min-width: 800px) and (max-width:1100px)  {
    .nav ul>li a{
        font-size: 14px;
    }
}