
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-comment:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-picasa:before { content: '\f31c'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */