footer{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #B8DABB;
    min-height: 75px;
    max-height: 100px;
    padding: 0 20px;
}
footer > p{
    display: inline-block;
    width: 50%;
    color: #696969;
    font-size: 16px;
    letter-spacing: 2px;
}
footer > p:last-of-type{
    text-align: right;
}