header {
    background-color: #9CA3A9;
}

header img {
    max-height: 200px;
    min-height: 100px;
}

svg > text {
    font-family: 'Parisienne', cursive;
    font-size: 75px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    padding: 10px 0;
    float: right;
    width: 40%;
}

.social-icons > i {
    padding: 5px;
    border-radius: 50%;
}

.social-icons > i:first-child {
    margin-right: 25px;
}





.social-icons, .nav {
    display: block;
    text-align: right;
}

.nav {

}
.small-screen-icons{
    display: block;
    width: 100%;
}

@media all and (min-width: 800px) {
    .small-screen-icons {
        display: none;
    }
    header i:hover {
        color: #404040;
        background-color: #E5EDE0;
        transition-duration: 0.7s;
    }
}

@media all and (max-width: 800px) {
    .social-icons > i {
        display: none;
    }
    .small-screen-icons{
        width: 100%;
    }
    .small-screen-icons > .icon-menu{
        float: left;
    }
    .small-screen-icons > .icon-search{
        float: right;
    }
}