.card-wrapper img {
    width: 100%;
    height: auto;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;

}

.article-image-wrapper{
    max-width: 100%;
    overflow: hidden;
}
.card-wrapper img:hover{
    transform: scale(1.5);
}
