.comments{
    display: grid;
    grid-auto-row: repeat(4, auto);
}
.row-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.comment-photo{
    display: inline-block;
    font-size: 16px;
    /*float: left;*/
    width: 30%;
    max-width: 200px;
    max-height: 200px;
    margin-right: 0.5em;
    flex-wrap: wrap;

}
.comment-photo img{
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #696969;
    margin-right: 0px;
}
span{
    vertical-align: middle;
}
.comment-wrapper{
    max-height: 100%;
    min-height: 100%;
    display: grid;
    grid-auto-columns: auto;
    /*float: left;*/
    width: 65%;
    min-width: 0;
}
.commentator-name{
    color: #787878;
    font-family: 'Crimson Text', serif;
    font-size: 0.6em;

}
.comment-text {
    display: inline-block;
    color: #404040;
    font-size: 0.55em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
@media all and (min-width:800px) {
    .comment-photo img {
        width: 75px;
        height: 75px;
    }
}
@media all and (max-width: 800px){
    .comment-photo img {
        width: 150px;
        height: 150px;
    }
}
